body {
  overflow-x: hidden;
}

.hidden {
    display: none;
}

.log-msg {
    color: red !important;
}

.table > tbody > tr > td {
     vertical-align: middle;
     overflow: auto;
     max-width: 0;
}

.table > thead > tr > th {
    width: 25%;
}

.action-th {
    width: 5% !important;
}

.logo-size {
    width: 4rem;
    height: 4rem;
    overflow: hidden;
    display: table-cell;
    vertical-align: middle;
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}